/*
 ** dialog.css
 */

.DAF-dialog * {
  font-family: "Verdana", sans-serif;
  font-size: 12pt;
}

.DAF-md-wait .DAF-md-content>div {
  font-size: 18pt;
  text-align: center;
}

.DAF-dialog {
  position: fixed;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s;
}

.DAF-modal {
  height: 100%;
}

.DAF-dialog.DAF-md-show {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.7);
}

.DAF-md-box {
  position: fixed;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  max-width: 640px;
  min-width: 200px;
}

.DAF-modal .DAF-md-box {
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
}

.DAF-toast .DAF-md-box {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.DAF-md-content {
  position: relative;
  border-radius: 6px;
  margin: 0 auto;
  background: #66c;
  border: 2px solid #333;
}

.DAF-md-content,
.DAF-dialog button,
.DAF-dialog td {
  color: #fff;
}

.DAF-md-title {
  margin: 0;
  padding: 0.3em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.2);
}

.DAF-md-footer {
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.05);
  /* this will account for the left margin on buttons, so they are centered anyway */
  padding-right: 24px;
}

.DAF-md-body {
  padding: 1em;
}

.DAF-dialog button {
  border: none;
  padding: 0.4em 0.8em;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border-radius: 8px;
  border: 2px solid transparent;
}

.DAF-dialog button {
  background: rgba(0, 0, 0, 0.3);
}

.DAF-dialog button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.DAF-md-footer button {
  margin: 4px 0 4px 24px;
}

.DAF-dialog table {
  border: 0;
}

.DAF-dialog tr,
.DAF-dialog tr:nth-child(2) {
  background: inherit;
}

.DAF-dialog td {
  border: 0;
  vertical-align: top;
}


/* Effects */

.DAF-md-superscale .DAF-md-content {
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s;
}

.DAF-md-show.DAF-md-superscale .DAF-md-content {
  transform: scale(1);
  opacity: 1;
}


/* Content styles */

.DAF-md-critical .DAF-md-content {
  background: #c43;
  border: 2px solid #721;
}