body {
  font-family: Verdana;
  color: Black;
  background: #fafafa;
}

.header {
  color: SteelBlue;
}

.footer {
  color: #bababa;
}

.c-tabs-nav__link {
  color: #fff;
  background-color: #b3b3b3;
}

.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: SteelBlue;
  background-color: #e7e7e7;
}

.c-tab,
.c-alert {
  background-color: #e7e7e7;
}

.card>h1:first-child {
  color: white;
  background-color: #a6a6a6;
  background-image: -webkit-linear-gradient(top, #a6a6a6, #CCCCCC);
}

.card>div:nth-child(2) {
  color: white;
  background-color: #a6a6a6;
  background-image: -webkit-linear-gradient(bottom, #e7e7e7, #CCCCCC);
}

#newsFlash {
  color: SteelBlue;
}

.rounded {
  color: white;
  background: steelblue;
  background-image: -webkit-linear-gradient(top, steelblue, #3498db);
}

div.rounded hr {
  background: SteelBlue;
}

div.rounded span {
  color: WhiteSmoke;
}

button {
  font-family: Arial;
  color: white;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
}

button:hover {
  color: whitesmoke;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
}

input[type='radio']:after {
  background-color: #d1d3d1;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  background-color: Gold;
  border: 2px solid white;
}

table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  border-color: #36648b;
  color: Black;
}

th,
td {
  font-family: Arial, sans-serif;
  border-color: #b3b3b3;
}

.sub-break tr,
thead {
  color: white;
  background: steelblue;
  background-image: -webkit-linear-gradient(top, steelblue, #3498db);
}

.sub-footer tr,
td.wiki-hover {
  color: #2980b9;
  background: #CCCCCC;
  background-image: -webkit-linear-gradient(top, #a6a6a6, #CCCCCC, #a6a6a6);
}

tfoot,
tr.group-break th,
.crowns tfoot tr:nth-child(1),
#evTable thead tr:nth-child(2) {
  color: white;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, steelblue);
}

tfoot tr th:last-child {
  font-family: monospace;
}

tbody tr {
  background: #e7e7e7;
}

tbody.no-row-coloring tr,
tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tr.bad-gift td:nth-child(5),
tr.bad-gift td:nth-child(6) {
  background-color: #ffcccc;
}

tr.high-level td {
  color: LightGray;
  border-color: SteelBlue;
}

.crowns input {
  background: WhiteSmoke;
  border-color: white;
}

.crowns tbody tr td,
.recipes tbody tr td {
  background: WhiteSmoke;
}

.crowns tfoot {
  background: WhiteSmoke;
  color: SteelBlue;
}

tr.selectable:hover {
  background-color: lightyellow;
  color: black;
}

progress::-webkit-progress-bar {
  background: lightgray;
}

tfoot tr td progress::-webkit-progress-bar {
  background: whitesmoke;
}

form {
  color: steelblue;
}

form li {
  color: white;
  background: steelblue;
  border: 1px solid #A2C0D9;
}

form li>label {
  color: whitesmoke;
  background: steelblue;
}

form li>section {
  color: black;
  background: whitesmoke;
  background-image: -webkit-linear-gradient(top, whitesmoke, steelblue);
}

form li>span {
  color: #C7D9E8;
  background: steelblue;
  background-image: -webkit-linear-gradient(top, steelblue, #3498db);
  border-top: 1px solid #A2C0D9;
}

form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select {
  background: whitesmoke;
}

/*
form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {}
*/

.__cdt-Warn1 {
  background-color: yellow;
}

.__cdt-Warn2 {
  background-color: orange;
}

.__cdt-Ended {
  background-color: red;
}

.__cdt-Ready {
  background-color: green;
}

.info,
.success,
.error,
.warning,
.tip,
.secure,
.message,
.download,
.busy,
.print {
  -webkit-box-shadow: 7px 7px #dfe1d8;
}

div.gallery-inner {
  border: 2px solid steelblue;
}

/** Vertical Menus **/
.v-menu ul {
  background-color: #fafafa;
}

.v-menu li a {
  color: #000;
  border-bottom: 1px solid steelblue;
}

.v-menu li a.active {
  background-color: #e7e7e7;
  color: black;
}

.v-menu li a:hover:not(.active) {
  background-color: #b3b3b3;
  color: white;
}
