.gitattributes export-ignore  
.gitignore export-ignore
README.md export-ignore
/test export-ignore  
/manifest/tabs/calculators/wiki.js export-ignore
/manifest/tabs/calculators/wiki.html export-ignore
/manifest/tabs/calculators/emines.js export-ignore
/manifest/tabs/calculators/emines.html export-ignore

